
#particles-js {
    overflow: hidden;
    height:100%;
    width:100%;
}
.cover {
    position: fixed;
    height: 100vh;
    width: 100vw;
    top: 0;
    left: -100vw;
    z-index: 1000;
}
.transition.slide .cover1 {
    background-color: #44475a;
    animation: slide 0.3s ease-in-out forwards;
}
.transition.slide .cover2 {
    background-color: #6272a4;
    animation: slide 0.3s ease-in-out forwards;
    animation-delay: 0.3s;
}
.transition.slide .cover3 {
    background-color: #bd93f9;
    animation: slide 0.3s ease-in-out forwards;
    animation-delay: 0.6s;
}
@keyframes slide {
    from {
        left: -100vw;
    }
    to {
        left: 0;
    }
}
html, body {
    margin: 0; 
    height: 100%; 
    width: 100%;
    
    background-color:#282a36;
}
.body{
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    width: 600px;
    height: 100%;
    box-sizing: border-box;
    text-align: center;
    padding: 0;
    font-size: 15px;
    color: #fff;
    position: relative;
}
.text{
    z-index: 100;
  position: absolute;
}
.loginP{
    position: absolute;
    left: 50px;
}
.register{
    position: absolute;
    right: 50px;
}

/* Splash screen */

.intro{
    position: fixed;
    z-index: 2;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    background-color: #000000;
    transition: 1s;
}
.logo-header{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #ffffff;
}
.logo{
    position: relative;
    display: inline-block;
    bottom: -20px;
    opacity: 0;
}
.logo.active{
    bottom: 0;
    opacity: 1;
    transition: ease-in-out 0.5s;
}
.logo.fade{
    bottom: 150px;
    opacity: 0;
    transition: ease-in-out 0.5s;
}
@media screen and (max-width: 411px){
.body{
    width: 350px;
    height:200px;
    box-sizing: border-box;
    }
.loginP img{
    height: auto;
    width: 200px;
    left: 50px;
    }
.register img{
    height: auto;
    width: 200px;
    right: 50px;
    }
.git{
    margin-bottom: 20px;
    padding-bottom: 50px;
    margin-top: 30px;
    }
}

#projects{
    margin-top: 50px ;
    color: #ff79c6;
    font-size: medium;
    }
#ed{
    margin-top: 50px;
    color: #ff79c6;
    font-size: medium;
    }
#desc1{
    margin-top: 30px;
}
#language{
    color: #50fa7b ;
}
#crp{
    color: #ff5555;
}
#sim{
    color: #f1fa8c;
}
#ai{
    color: #8be9fd;
}
#bio{
    color: #ffb86c;
}
#app{
    color: #bd93f9;
}
#aae{
    color: #bd93f9;
}
#nb{
    color: #ff5555;
}
#as{
    color: #8be9fd;
}
#xd{
    color: #bd93f9;
}
#html{
    color: #f1fa8c;
}
#css{
    color: #ff79c6;
}
#js{
    color: #ffb86c;
}
#me{
    margin-top: 50px;
    color: #ff79c6;
    font-size: medium;
}
#intro{
    margin-top: 30px;
}
#whatido{
    margin-top: 30px;
    color: #ff79c6;
    font-size: medium;
}
#moredesc{
    margin-top: 30px;
}
#email:link{
    color: #50fa7b;
}
#email:active{
    color: #bd93f9;
}
#email:hover{
    color: #bd93f9;
}
#work-ex{
    color: #ff79c6;
    font-size: medium;
}
#bn1{
    margin-top: 30px;
    color: #ff79c6
}
#desc2{
    margin-top: 20px;
}
#bn2{
    margin-top: 30px;
    color: #ff79c6
}
#desc5{
    margin-top: 20px;
}
#bamm{
    margin-top: 30px;
    color: #ff79c6;
}
#desc7{
    margin-top: 20px;
}
#tech-skill{
    margin-top: 30px;
    color: #ff79c6;
    font-size: medium;
}
#desc10{
    margin-top: 30px;
}
#pace{
    color: #ff79c6;
}
#paceApp{
    color: #ff5555;
}
#firebase{
    color: #8be9fd;
}
#aStudio{
    color: #50fa7b;
}
#loginP{
    width: auto;
    max-width: 100%;
    height: auto;
}
#tai{
    color: #bd93f9;
}
#wai{
    color: #6272a4;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto Mono', monospace; 
}
.navbar {
    background-color: #282a36;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
    top: 0;
    z-index: 1;
}

.navbar__container {
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 50px;
}

#navbar__logo {
    background-color: #282a36;
    background-image: linear-gradient(to top, #bd93f9 100%, #000000 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    font-size: 1.7rem;
    margin-left: -275px;
    margin-top: -20px;
}

.fa-gem {
    margin-right: 0.5rem;
}

.navbar__menu {
    display: flex;
    align-items: center;
    list-style: none;
    text-align: center;
}

.navbar__item {
    height: 80px;
}

.navbar__links {
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    padding: 0 1rem;
    height: 100%;
}

.navbar__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;
    width: 100%;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    padding: 10px 20px;
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    border-radius: 4px;
    background: #282a36;
    color: #fff;
}

.button:hover {
    background: #ff79c6;
    transition: all 0.3s ease;
}
#home:hover{
    color:#50fa7b;
    transition: all 0.3s ease;
}
#interest:hover{
    color:#8be9fd;
    transition: all 0.3s ease;
}
#portfolio:hover{
    color:#ffb86c;
    transition: all 0.3s ease;
}
img{
    display: block;
    margin: 0 auto;
    margin-top: 30px;
}
.center{
    display: block;
  margin-left: auto;
  margin-right: auto;
}


@media screen and (max-width: 960px) {
    .navbar__container {
        display: flex;
        justify-content: space-between;
        height: 80px;
        z-index: 1;
        width: 100%;
        max-width: 1300px;
        padding: 0;
    }
    .navbar__menu {
        display: grid;
        grid-template-columns: auto;
        margin: 0;
        width: 100%;
        position: absolute;
        top: -1000px;
        opacity: 0;
        transition: all 0.5s ease;
        height: 50vh;
        z-index: -1;
        background: #131313;
    }

    .navbar__menu.active {
        background: #44475a; 
        top: 100%;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: 99;
        height: 50vh;
        font-size: 1.6rem;
    }

    #navbar__logo {
        padding-left: 25px;
    }

    .navbar__toggle .bar {
        width: 25px;
        height: 3px;
        margin: 5px auto;
        transition: all 0.3s ease-in-out;
        background: #fff;
    }

    .navbar__item {
        width: 100%;
    }

    .navbar__links {
        text-align: center;
        padding: 2rem;
        width: 100%;
        display: table;
    }

    #mobile-menu {
        position: relative;
        align-content: center;
        top: 15%;
        right: 5%;
        transform: translate(5%, 20%);
    }
    .navbar__btn {
        padding-bottom: 2rem;
    }

    .button {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 80%;
        height: 80px;
        margin: 0;
    }

    .navbar__toggle .bar {
        display: block;
        cursor: pointer;
    }

    #mobile-menu.is-active .bar:nth-child(2) {
        opacity: 0;
    }
    #mobile-menu.is-active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }
    #mobile-menu.is-active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }
}